@import "tailwindcss";

@variant dark (.dark &);

html.light {
    color-scheme: light;
}
html.dark {
    color-scheme: dark;
}

html {
    background-color: #f8fafc;
    color: #0f172a;
}
html.dark {
    background-color: #020617;
    color: #fff;
}

button {
    cursor: pointer;
}